@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen m-0 p-0;
  background: linear-gradient(to bottom right, #3d3d3d, #277353, #3d3d3d);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
